li {
  margin: 0px 0px 0px -18px;
  padding: 0px;
}

tr.spaceUnder > td {
  padding-bottom: 0.5em;
}
.container {
  margin: 2px;
  width: auto;
  height: 45px;
  line-height: 45px;
  text-align: center;
}
.resize_fit_center {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.hideBody {
  display: none;
}

.fa {
  margin-top: 6px;
}

.newLine {
  display: block;
}
.btn-behance {
  background-color: #1769ff;
}
.btn-behance:hover {
  background-color: #4a8aff;
}

#includeButton,
#applysitetoPermanentIncludesButton,
#tempExcludebutton,
#MainExcludesButton,
#openAllLinksButton,
#tempIncludeButton,
#clearTempExcludeButton,
#applyTempToPermExcludesButton,
#clearFromTempIncludesButton,
#waybackShareMsg,
#waybackShareURL,
#shareMsgLive,
#shareliveURL {
  font-weight: bold;
}

#inTempexcludesAlert,
#inExcludesAlert,
#inTempIncludesAlert,
#refreshbutton {
  white-space: nowrap;
}
/*

body {;
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
  margin-top:-4px;
  font-size:22px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

h1 span {
  position: relative;
  top:1px;
  font-size:38px;
}

button {
  display:block;
  width:90%;
  margin:5px auto !important;
}
*/
.disabled {
  margin-top: -16px;
  color: red;
  height: 13px;
  font-size: 12px;
}

label {
  display: inline-block;
  position: relative;
  top: 5px;
  margin-top: 4px;
}
